Django

google-genai
openai

pymupdf

pdfplumber

pillow

opencv-python

numpy

paddleocr

paddlepaddle

pydicom

pylibjpeg

scikit-image

transformers

sentence-transformers

faiss-cpu

langchain

langchain-google-genai

python-dotenv

django-cleanup

django-crispy-forms

whitenoise

reportlab

openpyxl

python-docx

django-ratelimit

requests